@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);

/* Default styling for webpage */
* {
    font-family: Roboto;
    font-size: 18px;
}

body {
    margin: 0;
    
    /* As flex container */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Type-selector and class-selector styling */

button {
    background-color: #3882f6;
}

.dark-background {
    background-color: #1F2937;
}

.extra-bold {
    font-weight: bolder;
}

.hero-color {
    color: #F9FAF8;
}

.second-header {
    font-size: 36px;
    color: #1F2937;
}

/* Layout and higher specificity-selector styling */
/* Ordered by page structure */

.top-section {
    padding: 0 60px;
    
    /* As flex item */
    flex: 3 1 0;
    
    /* As flex container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    width: 100%;
    margin-top: 20px;

    /* As flex item */
    flex: none;

    /* As flex container */
    display: flex;
    gap: 20px;
}

.top-section a,
.top-section p {
    color: #E5E7EB;
}

#header-logo {
    font-size: 24px;
    
    /* As flex item */
    margin-right: auto;
}

.intro {
    margin: 50px 0px;
    width: 100%;
}

.intro ul {
    width: 100%;
    /* As flex item */
    flex: auto;

    /* As flex container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 30px; */
}

.hero-section {
    max-width: 750px;
    
    /* As flex item */
    flex: 1 1 auto;
}

h1 {
    font-size: 48px;
}

.top-section img {
    height: auto;
    width: 480px;
}

.middle-top-section {
    /* As flex item */
    flex: 3 1 0;
}

.middle-bottom-section {
    background-color: #E5E7EB;

    /* As flex item */
    flex: 2 1 0;
}

.quote {
    font-weight: lighter;
    font-style: italic;
}

.bottom-section {
    padding: 0 60px;

    /* As flex item */
    flex: 1;
}
