@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);

/* Default styling for webpage */
* {
    font-family: Roboto;
    font-size: 18px;
}

body {
    margin: 0;
    
    /* As flex container */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Type-selector and class-selector styling */

button {
    color: white;
    font-weight: 600;

    background-color: #3882f6;
    border: 0px;
    padding: 8px 28px;
    border-radius: 10px;

}

.dark-background {
    background-color: #1F2937;
}

.extra-bold {
    font-weight: bolder;
}

.hero-color {
    color: #F9FAF8;
}

.second-header {
    font-size: 36px;
    color: #1F2937;
}

/* Layout and higher specificity-selector styling */
/* Ordered by page structure */

.top-section {
    padding: 0 60px;
    
    /* As flex item */
    flex: 3 1 0;
    
    /* As flex container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    width: 100%;
    margin-top: 20px;

    /* As flex item */
    flex: none;

    /* As flex container */
    display: flex;
    gap: 20px;
}

.top-section a,
.top-section p {
    color: #E5E7EB;
}

#header-logo {
    font-size: 24px;
    
    /* As flex item */
    margin-right: auto;
}

.intro {
    margin: 50px 0px;
    width: 100%;
}

.intro ul {
    width: 100%;
    /* As flex item */
    flex: auto;

    /* As flex container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 30px; */
}

.hero-section {
    max-width: 750px;
    
    /* As flex item */
    flex: 1 1 auto;
}

h1 {
    font-size: 48px;
}

.top-section img {
    height: auto;
    width: 480px;
}

.middle-top-section {
    /* As flex item */
    flex: 3 1 0;
}

h2 {
    text-align: center;
    margin: 50px 0px;
}

.companies {
    margin-bottom: 75px;

    /* As flex container */
    display: flex;
    justify-content: center;
    gap: 30px;
}

.companies li {
    text-align: center;
    max-width: 180px;
}

.companies img {
    height: auto;
    width: 180px;

    border: 5px solid #3882f6;
    border-radius: 20%;
}

.middle-bottom-section {
    background-color: #E5E7EB;
    padding: 10vh 20vh;

    /* As flex item */
    flex: 2 1 0;
}

.quote {
    font-weight: lighter;
    font-style: italic;
}

h6 {
    text-align: right;
}

.bottom-section {
    padding: 10vh 60px;

    /* As flex item */
    flex: 1;
}

.bottom-content {
    background-color: #3882f6;
    border-radius: 10px;

    padding: 10px 120px;
}

.bottom-content ul {
    color: #E5E7EB;

    /* As flex container */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#call {
    margin: 20px 0px 10px 0px;

    font-size: x-large;
}

#call-sub {
    margin: 0px 0px 20px 0px;
}

.bottom-content button {
    border: 2px solid white;
}

.footer {
    padding: 10px;

    text-align: center;
    color: white;
}